.main {
	width: 980px;
	height: 455px;
	margin-left: 219px;
	margin-top: 10px;
}
.main .focus {
	position: relative;
}
.arrow_l,
.arrow_r {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 24px;
	height: 40px;
	line-height: 40px;
	background: rgba(0, 0, 0, .3);
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-family: 'icomoon'
}
.arrow_r {
	right: 0;
}
.main .circle {
	position: absolute;
	left: 50px;
	bottom: 10px;
}
.circle li {
	float: left;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: 0 3px;
	cursor: pointer;
	border: 2px solid rgba(255, 255, 255, 0.5);
}
.circle .current {
	background: #fff;
}
.newsflash {
	width: 250px;
	height: 455px;
}
.news {
	height: 163px;
	border: 1px solid #ccc;
}
.news_hd {
	height: 32px;
	border-bottom: 1px dotted #ccc;
	font-size: 14px;
	padding: 0 15px;
	line-height: 32px;
}
.news_hd a {
	float: right;
	font-size: 12px;
	font-family: 'icomoon';
}
.news_bd {
	padding: 10px 0 0 15px;
}
.news_bd li {
	height: 23px;
}
.lifeservice {
	overflow: hidden;
	height: 208px;
	border: 1px solid #ccc;
	border-top: 0;
}
/*宽度不够 会掉下去*/
.lifeservice ul {
	width: 252px;
}
.lifeservice li {
	position: relative;
	float: left;
	width: 62px;
	height: 70px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.lifeservice li p {
	text-align: center;
}
.hot {
	position: absolute;
	right: 0;
	top: 0;
	width: 12px;
	height: 15px;
	background: url(../img/jian.jpg) no-repeat;
}
.service_ico {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/icons.png) no-repeat;
	margin: 10px auto;
}
.huafei {
	background-position: -17px -16px;
}
.jipiao {
	background-position: -78px -16px;	
}
.bargain {
	height: 75px;
	margin-top: 5px;
}
.recommend {
	height: 163px;
	margin-top: 10px;
}
.recommend_hd {
	width: 200px;
	height: 163px;
	background-color: #5c5251;
	text-align: center;
}
.recommend_hd h3 {
	font-size: 18px;
	color: #fff;
	font-weight: 400;
}
.recommend_hd img {
	margin: 30px 0 10px 0;
}
.recommend_bd {
	width: 1000px;
	height: 163px;
	background-color: #ebebeb;
}
.recommend_bd li {
	float: left;
	height: 145px;
	width: 249px;
	border-right: 1px solid #ccc;
	margin-top: 10px;
}
.recommend_bd .last {
	border-right: 0;
}
.box_hd {
	height: 30px;
	margin-top: 25px;
	border-bottom: 2px solid #c81623;
}
.box_hd h3 {
	float: left;
	font-size: 18px;
	color: #c81623;
}
.tab_list {
	float: right;
	line-height: 30px;
}
.tab_list li {	
	float: left;
}
.tab_list li a {
	margin: 0 15px;
}
.box_bd {
	height: 360px;
}
.box_bd li {
	overflow: hidden;
}
.one {
	width: 209px;
	background-color: #f9f9f9;
}
.tab_con li {
	float: left;
	height: 360px;
}
.tab_con_list {
	overflow: hidden;
	margin-bottom: 15px;
}
.tab_con_list li {
	width: 86px;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	margin-left: 10px;
	text-align: center;
}
.box_bd img {
	/*过渡写到本身上， 谁做动画，给谁加*/
	transition: all .2s;
}
.box_bd li:hover img {
	margin-left: 8px;
}
.two {
	width: 329px;
}
.three {
	width: 219px;
	border-right: 1px solid #ccc;
}
.four {
	width: 220px;
	border-right: 1px solid #ccc;
}
.five {
	width: 220px;
	border-right: 1px solid #ccc;
}
.tab-con-item {
	border-bottom: 1px solid #ccc;
}
.fixedtool {
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -676px;
	width: 66px;
	background-color: #fff;
}
.fixedtool li {
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.fixedtool .current {
	background: #c81623;
	color: #fff;
}
