.miaosha {
	position: absolute;
	top: 40px;
	left: 185px;
	height: 32px;
	border-left: 1px solid  #b1191a;
	padding: 5px 0 0 15px;
} 
.nav_left li {
	float: left;
	line-height: 45px;
	margin: 0 30px;
}
.nav_left li a {
	font-size: 16px;
	color: #000;
	font-weight: 700;	
}
.nav_left li a:hover {
	color: #c81523;
}
.nav_right li {
	float: left;
	margin: 0 20px;
	line-height: 45px;
}
.nav_right li a {
	font-size: 14px;
	font-weight: 700;
	font-family: 'icomoon'
}
.content_bd {
	margin-top: 25px;
}
.content_bd ul {
	width: 1212px;
}
.content_goods {
	position: relative;
	float: left;
	width: 288px;
	height: 458px;
	border: 1px solid transparent;
	margin: 0  12px 15px 0;
}
.content_goods:hover {
	border: 1px solid #e12228;
}
.content_goods .price {
	padding: 0 10px;
	font-size: 22px;
	color: #e60012;
}
.content_goods .price del {
	font-size: 14px;
	font-weight: 700;
	color: #a4a4a4;
}

.content_title {
	font-size: 14px;
	color: #666;
	font-weight: normal;
	padding: 10px;
}
.progress {
	margin-left: 10px;
}
.progress span {
	color: #f24349;
}
.bar {
	display: inline-block;
	width: 130px;
	height: 10px;
	border: 1px solid #b1191a;
	vertical-align: middle;
	margin: 0 5px;
	border-radius: 5px;
}
.bar_in {
	width: 87%;
	height: 100%;
	background-color: #f24349;
}
.buy {
	position: absolute;
	bottom: 0;
	width: 288px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	background-color: #b1191a;
}
.page {
	margin: 40px 0;
	text-align: center;
}
.page_num a {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
}
.page_num a:hover {
	color: #e60012;
}

.page_num .prev,
.page_num .next {
	width: 83px;
}
.page_num .current,
.page_num .shenglve {
	border: 1px solid transparent;
	background-color: transparent;
}
.page_skip input {
	width: 46px;
	height: 36px;
	border: 1px solid #ccc;
	text-align: center;
	/*过渡写在本身上 谁做动画，给谁加*/
	transition: all 0.3s;
}
.page_skip input:focus{
	width: 88px;
	border: 1px solid skyblue;	
}
.page_skip button {
	width: 54px;
	height: 36px;
	border: 1px solid #ccc;
	background-color: #f7f7f7;	
}